#header {
	font-size:20pt;
	text-align:center;
	margin-top:10px;
	text-shadow: 1px 1px yellow;
	font-weight:bold;
}

.schedules {
	font-size:15pt;
	text-align:left;
	margin-top:10px;
	margin-left:30px;
	font-style:italic;
}
